body {
	background-color: #FAFAFA;
}

#wrapper {
	width: 860px;
	margin-left: auto;
	margin-right: auto;
}

.controls>div {
	width: 250px;
	position: relative;
	float: left;
}

.axislabel {
	font-family: Verdana;
	fill: #000;
}